/***** MPS Demo Styles *****/
.content {
	width:1155px;
}
.right-boxad {
	display:inline-block;
}
.center {
	text-align:center;
}
.mt40 {
	margin-top:40px;
}
.mt20 {
	margin-top:20px;
}
.m0auto {
	margin:0 auto;
}
.p20 {
	padding:20px;
}
h1 {
	font-size:2.1rem;
}
h2 {
	font-size:1.5rem;
}
.right {
	float:right;
}
.none {
	display:none;
}
#chart {
	width:1155px;
	overflow:hidden;
	white-space: nowrap;
	table-layout:fixed;
}
#chart td {
	overflow:hidden;
	text-overflow: ellipsis;
}
td.alert {
	background:#ff0000;
	color:#fff;
}
.loadTime span {
	float:right;
}
.loading {
	width:1155px;
	background:url('../img/loader.gif') 570px 150px no-repeat;
	min-height:500px;
}